footer {
	display: flex;
	justify-content: space-around;
	background: #F6F6F7;
	padding: 30px 0 45px;
}

footer .social-icons h2 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;
}

footer .youtube {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../img/social_icons.png') -82px -122px no-repeat;
}

footer h2 a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

footer ul li a {
	color: #666666;
	line-height: 24px;
}

footer ul li a:hover, footer h2 a:hover{
	color: #009047;
}

footer .phone-item {
	display: flex;
	flex-direction: column;
}

footer .phone-number {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	margin-left: 25px;
	letter-spacing: 1px;
}

footer .phone-item .callback-btn {
	text-transform: uppercase;
	color: #009047;
	margin-top: 10px;
	font-size: 12px;
}

footer .phone-item .callback-btn:hover {
	color: #000;
}

footer .phone-item .fa-phone {
	color: #008642;;
}