header .top-row {
	position: relative;
	border-bottom: 1px solid #eaebec;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.topest-menu ul {
	height: 31px;
}

.topest-menu ul li {
	display: inline-block;
	line-height: 18px;
	margin-right: 30px;
}

.topest-menu  ul  li {
	margin-left: 30px
	text-align: center;
}

.topest-menu  ul li:first-child {
	margin-left: 0;
}

.topest-menu ul li a {
	position: relative;
	display: block;
	padding: 9px 0 0px;
	font-size: 12px;
}

.topest-menu ul li a {
	color: #777777;
}

.topest-menu ul li a:hover {
	color: #000;
}

/* phones */
header .top-row .phones {
	position: absolute;
	top: 5px;
	left: 545px;
}
header .phones .phone-block {
	width: 300px;
}
header .phones .phone-wrp {
	position: relative;
}

header .phones .phone-wrp span {
	display: inline-block;
	vertical-align: middle;
}

header .phone-wrp .fa-phone {
	position: absolute;
	left: 0px;
	top: 5px;
	font-size: 12px;
	color: #008642;
	transform: rotate(90deg);
}

header .phone-wrp .phone-number {
	padding-left: 20px;
	color: #000;
}

header .callback-btn {
	font-size: 12px;
	color: #008642;
	position: absolute;
	top: 2px;
	left: 110px;
	width: 95px;
}

header .callback-btn:hover {
	cursor: pointer;
	color: #000;
}

/* user block */
header .user-block {
	margin-top: 8px;
	position: absolute;
	top: 0;
	right: 0;
}

header .top-row .user-block a {
	font-size: 12px;
	color: #666666;
}

header .top-row .user-block a.register {
	padding: 0 24px;
}

header .top-row .user-block a:hover {
	color: #008642;
}

header .top-row .user-block .fa-user {
	font-size: 10px;
	margin-right: 12px;
	color: #000;
}



