
*{margin:0;padding:0;box-sizing:content-box;}

html{width:100%;}

header, nav, section, article, aside, footer{display:block;}

body  {
	font:13px/20px Ubuntu, Arial, Helvetica, sans-serif !important;
	width:100%;
	margin:0 auto;
	padding:0;
	color:#888888;
	min-width: 300px;
	background: #F6F6F7;
}

button, input[type='submit'], input[type='button'] {
	text-transform:none;
	box-sizing:border-box;
	outline:none;
}

h1 {
    color: #383838;
    font-size: 36px;
    font-weight: 500;
    line-height: 38px;
    padding-bottom: 25px;
    padding-right: 55px;
}

h2, h3, h4, h5 {
	color:#383838;
	line-height:20px;
	font-weight: 500;
}

img {
	border:0;
}

blockquote{
    color:#383838;
    font-size:13px;
    margin:43px 0 45px;
    min-height:40px;
    padding-left:25px;
    position:relative;
    vertical-align:middle;
}

hr  {
	border:0;
	height:1px;
	margin:20px 0;
	background: #E5E5E5;
}

p {
	color:#888888;
	font-size:13px;
}

a {
	cursor:pointer;
	text-decoration:none;
}

table {
	border-collapse:collapse;
}

li  {
	list-style-type:none;
}

*:hover{transition:background-color ease 0.1s;}
a:hover{text-decoration:none !important;}

.button {
	opacity: 1;
	font-weight: 400;
	cursor: pointer;
	font-size: 13px;
	line-height: 16px;
	text-transform: none;
	background: #ddd;
	color: #000;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
	padding: 8px 11px 9px;
	display: inline-block;
	border: none;
	outline: 0;
	position: relative;
	font-family: Ubuntu,Arial,Helvetica,sans-serif;
	width: auto;
	vertical-align: middle;
}

.wrapper {
	position: relative;
	max-width: 1208px;
	background: #fff!important;
	min-height: 200px;
	margin: 0 auto;
	width: 100%;
}

#content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 24px;
	padding-bottom: 100px;
}






